@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            
                 <li>

                    @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                    <a href="/Manage/Index" class="waves-effect"><i class="fa fa-user-circle fa-5x"></i>  مرحباً <span id="loginusername"> @User.Identity.GetUserName() </span></a>

                </li>
          
          
                <li>

                    <a href="javascript:document.getElementById('logoutForm').submit()" class="waves-effect"><i class="fa fa-lock"></i>  تسجيل خروج  </a>
                </li>
                       
        </ul>
            
            }
            }
            else
            {
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "SmartLogin", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
            }
