/*@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);
@import url('https://fonts.googleapis.com/css?family=Cairo');
@import url('https://fonts.googleapis.com/css?family=Dosis');*/
/*@import url('https://fonts.googleapis.com/css?family=Amiri');*/

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 

/*@font-face {
    font-family:"GE SS Text Light";
    src:url("GE_SS_Text_Light.eot?") format("eot"),
        url("GE_SS_Text_Light.woff") format("woff"),
        url("GE_SS_Text_Light.ttf") format("truetype"),
        url("GE_SS_Text_Light.svg#GESSTextLight-Light") format("svg");
    font-weight:normal;font-style:normal;

}*/

@font-face {
    font-family: "Noto Kufi Arabic";
    src: url("fonts/NotoKufiArabic-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6l, th{
    /*font-family: 'GE SS Text Light', Cairo, sans-serif;*/
    /*font-weight: 700;*/
    line-height: 1.1;
    color: #1b2838;
}


[type=radio]:checked+label, [type=radio]:not(:checked)+label, [type=checkbox]+label {
    padding-right: 35px;
}

[type=checkbox]:checked + label:before {
   right: 10px;
}


[type=checkbox]+label:before,[type=radio]+label:before, [type=radio]+label:after{
    right:0;
}

.card-header-content{
    color: white;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

/*Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column*/

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

* {
    direction: rtl;
    /*font-family: 'GE SS Text Light', Cairo, sans-serif;*/
    /*font-family: 'Cairo', sans-serif;
    font-family: 'Droid Arabic Kufi', sans-serif;*/
    font-family: 'Noto Kufi Arabic', sans-serif;
    /*font-family: 'Amiri', serif;*/
}

main {
    margin-right: 0px;
    margin-left: 0px;
}

.float-right{
    direction:rtl !important;
}

h1 {
    /*direction: rtl;*/
    /*font-family: 'Droid Arabic Kufi';*/
    /*font-family: 'Cairo', sans-serif;*/
    padding-bottom: 20px;
}

label {
    right: 0px;
}

.btn {
    white-space: nowrap !important;
    margin:auto;
    text-transform:unset !important;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    margin: 10px;
    overflow-x: hidden !important;
}


input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea {
    /*font-family: 'Droid Arabic Kufi';*/
    /*font-family: 'Cairo', sans-serif;*/
    font-size: 12px;
    direction: rtl;
    /*width:300px;*/
}


.md-form label, [type=radio]:checked + label, [type=radio]:not(:checked) + label, [type=checkbox] + label {
    font-size: 11px;
    right: 0;
    left: unset;
}

.m-0{
    margin-bottom: 0px;
    margin-top: 0px;
}

.mb-2 {
    margin-bottom: 15px !important;
}

.mb-3 {
    margin-bottom: 20px !important;
}

.p-0{
padding: 5px !important;
}

/*.waves-button-input{
padding: unset;
}*/

.b-p-0{
padding: 2.5px !important;
}

.p-1 {
    padding: 10px;
}

.p-2{
    padding: 15px;
}

.p-3 {
    padding: 20px;
}



.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: center;
}

.table a {
    margin: 0px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #e4e4e4;
    text-align: center;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    overflow-x:hidden!important;
    overflow-wrap:break-word;
    /*overflow:-webkit-paged-y !important;*/
}

.side-nav{
    background: #070f19 !important;
    font-size:small!important;
    /*background: white !important;*/
    /*color: #1b2838 !important;*/
}

html{
    overflow-x:hidden!important;
}

html {
    height: 100%;
    box-sizing: border-box;
}

.my-blue-gradient, .blue-skin .side-nav {
    background: #1b2838;
    background: -moz-linear-gradient(-45deg,#1b2838 0,#329ff1 100%);
    background: -webkit-linear-gradient(-45deg,#1b2838 0,#329ff1 100%);
    background: linear-gradient(135deg,#1b2838 0,#1b2838 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b2838', endColorstr='#329ff1', GradientType=1 );
    color: white;
}




.dark-blue-bg{
    
    background-color:#1b2838 !important;
    
    font-style:normal !important;
}

.dark-gray-bg{
    
    background-color:#9f9e9e !important;
    padding: 10px;
    /*color: #1b2838 !important;*/

}

.card-cascade .card .view ,.card-footer .view {
     border-radius: 50px; 
     -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    
}

.card-cascade .view, .card-cascade-2 .view {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.card-cascade, .card-cascade-2 {
    display: block;
}
.card-header-content{
    margin-right: 20px;
    text-align:center;
}

.card-footer, .card-data{
    margin-top:15px;
    margin-bottom:15px;
    background-color:#e4e4e4 !important;
    padding-top:12px !important;
    padding-bottom:12px !important;
    
}

.sub-header{
    color: #329ff1
}


/*.btn-rounded{
    padding:15px; margin-top:10px; margin-bottom:10px
}*/


i.btn-success{
    background-color: #55ae31 !important
}

i.btn-danger{
    background-color: #a92c2c !important
}

i.btn-default{

}

/*.btn-group{
    padding:0px;
    margin:0px;
    
}*/

input[type=text][readonly=readonly][id=idperson] {
    color: transparent;
    border-bottom: 0px dotted rgba(0,0,0,.46);
    background-color: transparent;
    border:hidden !important;
    box-shadow:none !important;
    /*float:unset !important;*/
    /*display:none !important;*/

}

/*.row{
    padding-right:10px !important;
    padding-left:10px !important;
}*/

.dropdown-menu{
    border-radius:25px;
    font-size:small;
}

.inner.open{
    direction:rtl;
    overflow-y:hidden !important;
}

.bootstrap-select.btn-group .dropdown-menu li a{
    white-space:normal;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {

    left: 12px;
    right:unset;
}

.bootstrap-select.btn-group .dropdown-menu {
    padding-bottom:20px
}

hr{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}


/*.popover {
    direction: rtl !important;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0) !important;
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0) !important;
    -o-transform: matrix(-1, 0, 0, 1, 0, 0) !important;
    transform: matrix(-1, 0, 0, 1, 0, 0) !important;
}

.popover-title {
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0) !important;
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0) !important;
    -o-transform: matrix(-1, 0, 0, 1, 0, 0) !important;
    transform: matrix(-1, 0, 0, 1, 0, 0) !important;
}

.popover-content {
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0) !important;
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0) !important;
    -o-transform: matrix(-1, 0, 0, 1, 0, 0) !important;
    transform: matrix(-1, 0, 0, 1, 0, 0) !important;
}*/

.card-title{
    /*font-weight: bold !important;*/
    /*color:#ff8800 !important;*/
    
    border:2px !important;
    /*text-align:right!important;*/
    /*right:10px!important;*/
}

/*.btn-group > .btn:not(.dropdown-toggle){
    border-radius:15px !important;
    margin:10px;
    padding:10px !important;
}*/

.btn-group > .btn:first-child:not(.dropdown-toggle) {
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}

.btn-group > .btn:last-child:not(.dropdown-toggle) {
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
}


div.dataTables_wrapper div.dataTables_filter {
    text-align: left !important;
}

div.dataTables_wrapper div.dataTables_paginate {
    text-align: left !important;
}

select {
    border: none !important;
    box-shadow: none !important;
    border-bottom: 1.5px solid #e3e3e3 !important;
    font-size: small !important;
}


.bootstrap-select.btn-group .dropdown-menu li a span.text {

    font-size: smaller;

}
    /*.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}*/
    /*.my-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('~/images/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}*/
    /*.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}*/

