
<div class="col-md-12" id="ReportForm">
    @using (Ajax.BeginForm("GetCounts", "Reporting", new AjaxOptions { HttpMethod = "GET", OnSuccess = "SuccessGetReport", OnFailure = "FaildGetReport", OnBegin = "BeginGetReport" , OnComplete = "CompleteGetReport"}))
    {
        <div class="row">
            <div class="col-md-5"><label>تاريخ البداية</label></div>
            <div class="col-md-7">
                <div class="md-form">
                    <input class="form-control" type="date" name="startDate" id="startDate" />
                </div>
            </div>
            <div class="col-md-5"><label>تاريخ النهاية</label></div>
            <div class="col-md-7">
                <div class="md-form">
                    <input class="form-control" type="date" name="endDate" id="endDate" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="md-form">
                <div class="col-md-12">
                    <input type="submit" name="submit" value="إعداد التقرير الشهري" class="btn btn-default btn-rounded p-1" />
                    <input type="submit" name="submit" value="أكثر ثلاث عناوين مكررة" class="btn btn-default btn-rounded p-1" />
                    <input type="submit" name="submit" value="أكثر ثلاث طرق للتعرف  على المركز المجتمعي" class="btn btn-default btn-rounded p-1" />
                </div>
                <div class="col-md-1 p-1" id="loading"></div>
                <div class="clearfix"></div>
                <div class="col-md-12" id="month-report" style="display:none">
                    <table id="All" class="display table table-bordered All" cellspacing="0">
                        <thead>
                            <tr>
                                <th></th>
                                <th colspan="3">
                                    إجمالي
                                </th>
                                <th colspan="6">
                                    الفئات العمرية
                                </th>
                                <th colspan="10">
                                    الملف
                                </th>
                                <th colspan="4">
                                    الحالة
                                </th>
                            </tr>
                            <tr>
                                <th></th>
                                <th colspan="3"></th>
                                <th colspan="2"> < 18 </th>
                                <th colspan="2"> 18 - 59</th>
                                <th colspan="2"> 60 + </th>
                                <th colspan="2"> نازح</th>
                                <th colspan="2"> مجتمع مضيف</th>
                                <th colspan="2"> نازح عائد</th>
                                <th colspan="2"> لاجئ عائد</th>
                                <th colspan="2"> لاجئ / طالب لجوء</th>
                                <th colspan="2"> قيد المعالجة</th>
                                <th colspan="2"> مغلقة</th>
                            </tr>
                            <tr>
                                <th>الفئة الفرعية</th>
                                <th>إناث وذكور</th>
                                <th>ذكور</th>
                                <th>إناث</th>
                                <th>ذكور</th>
                                <th>إناث</th>
                                <th>ذكور</th>
                                <th>إناث</th>
                                <th>ذكور</th>
                                <th>إناث</th>
                                <th>ذكور</th>
                                <th>إناث</th>
                                <th>ذكور</th>
                                <th>إناث</th>
                                <th>ذكور</th>
                                <th>إناث</th>
                                <th>ذكور</th>
                                <th>إناث</th>
                                <th>ذكور</th>
                                <th>إناث</th>
                                <th>ذكور</th>
                                <th>إناث</th>
                                <th>ذكور</th>
                                <th>إناث</th>
                            </tr>
                        </thead>
                        <tbody>

                          

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>

@section scripts{
  
}