
@model SDS_SanadDistributedSystem.viewModel.ChartsViewModel
@{
    ViewBag.Title = "التقرير";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {

    <script src="~/Scripts/table2excel.js"></script>
    <script src="~/Scripts/ReportingAjaxFunction.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}



<div class="col-md-12">
    @Html.Partial("~/Views/Reporting/_GetCounts.cshtml")
</div>



